<h3>View Options </h3>
<div class="buttons camera-option">
	<% _.each(viewButtons, function(view) { %>
		<input type='button' value='<%= view.title %>' class='<%= view.className + " button" %>'>
	<% }); %>
</div>

<h3>Color Options </h3>
<div class="buttons color-option">
	<% _.each(colorButtons, function(view) { %>
		<input type='button' value='<%= view.title %>' class='<%= view.className + " button" %>'>
	<% }); %>
</div>

<h3>Other Options </h3>
<div>
	<% _.each(checkboxes, function(checkbox) { %>
	<label for='<%= checkbox.value %>'><%= checkbox.title + ":"%></label>
	<input type='checkbox' value='<%= checkbox.value %>' id='<%= checkbox.value %>' <%= checkbox.property %> class='checkbox'>
	<% }); %>
</div>