<transform render="true" bboxcenter="0,0,0" bboxsize="-1,-1,-1" center="0,0,0" translation="0,0,0" rotation="0,0,0,0" scale="1,1,1" scaleorientation="0,0,0,0">
    <shape id="grid" render="true" bboxcenter="0,0,0" bboxsize="-1,-1,-1" ispickable="true">
        <appearance sorttype="auto">
            <material id="gridMaterial" diffusecolor="#4682b4" transparency="0.65" ambientintensity="0.2" emissivecolor="0,0,0" shininess="0.2" specularcolor="0,0,0">
            </material>
        </appearance>
        <indexedLineSet coordindex="<%= coordinateConnections%>" solid="true" ccw="true" usegeocache="true" lit="true" colorpervertex="true" colorindex="">
            <coordinate point="<%= coordinates %>">
            </coordinate>
        </indexedLineSet>
    </shape>
</transform>