<% // console.log(getColor()); %>
<shape id='<%="rack"+ componentId %>'  class='rack' >
	<appearance sorttype='auto'>
	    <material ambientintensity='0.2' diffusecolor='<%= getColor() %>' shininess='0.2' transparency='<%= transparency%>'>
	    </material>
	</appearance>
	<box size='<%= floorPlanWidth + " " + (floorPlanHeight - 0.1) + " " + height %>'>
	</box>
</shape>
<transform translation="0 <%= -(floorPlanHeight / 2) %> <%= 1.0 %>">
	<shape>
		<appearance>
			<material class="rack-text" ambientintensity='0.0' diffusecolor='#203234' shininess='0.0' transparency='1.0'>
			</material>
		</appearance>
		<text string="<%= name %>">
			<fontstyle family="'Helvetica'" size="<%= 0.75 * (floorPlanHeight - 0.1)%>" ></fontstyle>
		</text>
	</shape>
</transform>